<ion-content [fullscreen]="true">

  <ion-card style="width: auto; height: 720p;">
    <img src="../../../assets/BCO.44102ad6-91e4-48bc-8875-76b7df39b546.png" alt="News App">
  </ion-card>

  <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <app-input
                label="Email"
                placeholder="Jane@Doe.com"
                type="email"
                [control]="email"
              ></app-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <app-input
                label="Password"
                placeholder="*****"
                type="password"
                [control]="password"
              ></app-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <app-button
                value="Login"
                type="submit"
                [disabled]="loginForm.invalid"
              ></app-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <app-button
                value="Registrarse"
                type="button"
                (click)="goToRegister()"
                fill="clear"
              ></app-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>