<ion-content [fullscreen]="true">
    <ion-card>
    <ion-card-content>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <app-input label="Name" placeholder="Jane" type="text"></app-input>
                </ion-col>
            </ion-row>
                <ion-row>
                <ion-col>
                    <app-input label="Last Name" placeholder="Doe" type="text"></app-input>
                </ion-col>
            </ion-row>
                <ion-row>
                <ion-col>
                    <app-input label="Email" placeholder="Jane@Doe.com" type="email"></app-input>
                </ion-col>
            </ion-row>
                <ion-row>
                <ion-col>
                    <app-input label="Password" placeholder="*****" type="password"></app-input>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content> 
    </ion-card>
</ion-content>
