<ion-content [fullscreen]="true" class="home-container">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <ion-icon name="newspaper-outline" style="vertical-align: middle; margin-right: 8px;"></ion-icon>
        Últimas Noticias
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Loading State -->
  @if (isLoading) {
    <div class="loading-spinner">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Cargando noticias...</p>
    </div>
  }

  <!-- Content State -->
  @if (!isLoading) {
    
   
<ion-segment style="background-color: gainsboro;" [value]="currentCategory" (ionChange)="changeCategory(($event.detail.value + '') || 'technology')">
      <ion-segment-button value="technology">
        <ion-label>Tecnología</ion-label>
      </ion-segment-button>
      <ion-segment-button value="sports">
        <ion-label>Deportes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="business">
        <ion-label>Negocios</ion-label>
      </ion-segment-button>
    </ion-segment>


    @if (topHeadlines.length > 0) {
      <ion-list-header class="section-header">
        <ion-label>🔥 Titulares Principales</ion-label>
      </ion-list-header>
      <div class="news-grid">
        @for (news of topHeadlines; track news.url) {
          <app-news-card [news]="news" [showSource]="true"></app-news-card>
        }
      </div>
    }

    

    <div class="news-grid">
      @for (news of displayedNews; track news.url) {
        <app-news-card [news]="news" [showSource]="true"></app-news-card>
      }
    </div>

    <!-- Loading más noticias -->
    @if (isLoadingMore) {
      <div class="loading-more">
        <ion-spinner name="crescent"></ion-spinner>
        <p>Cargando más noticias...</p>
      </div>
    }

    <!-- Infinite Scroll -->
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content
        loadingText="Cargando más noticias...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <!-- Estado vacío -->
    @if (displayedNews.length === 0 && !isLoading) {
      <div class="empty-state">
        <ion-icon name="newspaper-outline"></ion-icon>
        <p>No hay noticias disponibles en este momento</p>
        <ion-button (click)="loadAllNews()" fill="solid">
          <ion-icon name="refresh" slot="start"></ion-icon>
          Reintentar
        </ion-button>
      </div>
    }
  }
</ion-content>